<section class="section px-0" id="progress-bar">
    <div class="line-1 is-hidden-touch" id="progress-line"></div>
    <div class="container has-text-centered progress-container">
        <div class="columns progress-bar-items is-variable">
            <div class="column">
                <figure class="image is-3by1">
                    <img id="progress-1" src="svg/menu1-2.svg">
                </figure>
            </div>
            <div class="column">
                <figure class="image is-3by1">
                    <img id="progress-2" src="svg/menu2-1.svg">
                </figure>
            </div>
            <div class="column">
                <figure class="image is-3by1">
                    <img id="progress-3" src="svg/menu3-1.svg">
                </figure>
            </div>
        </div>
    </div>
</section>